body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-left: 8px;
    margin-bottom: 18px;
    font-size: 300%;
    line-height: normal;
}

#user-result {
    margin-left: 2px;
    display: inline-block
    vertical-align: middle;
}

#user-result > img {
    vertical-align: middle;
}

.home-form > form > label {
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-bottom: 8px;
}
.home-form > form > input {
    display: inline-block;
    margin-bottom: 8px;
}

#registration-button {
    margin-left: 4px;
}

#registration-form > form > label {
    margin-right: 4px;
}

.home-form > form > #login {
    margin-left: 204px;
}

.home-form > form > #register {
    margin-left: 196px;
}

img.user-warn {
    opacity: .5;
}

#un-exists {
    margin-left: 4px;
    color: #F7A8A8;
}

#login-response1 {
    margin-left: 8px;
    color: #F7A8A8;
}
header {
    height: 90px;
    border: dotted 1px lightgray;
    background-color: rgba(24, 26, 27, 0.59);
}

header > form > input {
    float: right;
    height: 29px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 15px;
    display: inline;
}