body {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover, input[type="button"] {
    cursor: pointer;
}

.title {
    margin-left: 8px;
    margin-bottom: 18px;
    font-size: 300%;
    line-height: normal;
}

#welcome {
    border-bottom: 2px dotted lightgray;
    text-decoration: none;
    display: inline-block;
}

#user-result {
    margin-left: 2px;
    display: inline-block
    vertical-align: middle;
}

#user-result > img {
    vertical-align: middle;
}

.home-form > form > label {
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-bottom: 8px;
}
.home-form > form > input {
    display: inline-block;
    margin-bottom: 8px;
    height: 23px;
    border: 1px solid dimgray;
    font-size: 1em;
    border-radius: 3px;
    width: 199px;
}

table {
    border-collapse: collapse;
}

table, th, td  {
    border: 2px solid darkgray;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
}

th {
    text-align: left;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(246, 253, 95, 0.45);
}

thead, tr {
    border-right: 2px solid darkgray;
    border-left: 2px solid darkgray;
}

th, td {
    padding: 5px 55px 5px 5px;
}

table > caption {
    font-size: 2em;
    text-align: left;
    padding-bottom: 5px;
}

#listing-data {
    margin-top: 45px;
}

#registration-form > form > label {
    margin-right: 4px;
}

.home-form > form > #login {
    margin-left: 223px;
    height: 29px;
    border: 2px outset buttonface;
}

.home-form > form > #register {
    margin-left: 212px;
    border: 2px outset buttonface;
    height: 29px;
}

#registered-question {
    margin-top: 28px;
}

img.user-warn {
    opacity: .5;
}

#un-exists {
    margin-left: 4px;
    color: #F7A8A8;
}

#login-response1 {
    margin-left: 8px;
    color: #F7A8A8;
}
header {
    height: 90px;
    border: dotted 1px lightgray;
    background-color: rgba(24, 26, 27, 0.59);
}


header > form > input {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    display: inline;
}

.myButton {
    border-radius: 5px;
    height: 35px;
    font-size: 1em;
    font-weight: 500;
}

#registration-button.myButton {
    margin-left: 4px;
}

#add-prop {
    margin-left: 9px;
    margin-top: 20px;
}

#add-prop-form {
    margin: 5px;
}

#add-prop-form > form > input {
    margin: 4px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid dimgray;
    font-size: 1.2em;
    padding-left: 2px;
}

#add-prop-form > form > input.myButton {
    height: 1.8em;
    padding: 5px;
    margin-left: 18px;
    font-size: 1.2em;
    background-color: rgba(51, 102, 255, 0.35);
    border-width: 2px;
}

#new-address {
    width: 250px;
}

#new-city {
    width: 150px;
}

#new-state {
    width: 50px;
}

#new-zip {
    width: 75px;
}

#map-canvas {
    width: 100%;
    height: 500px;
}

.delete-listing {
    padding-bottom: 12px;
}

#share-with {
    margin-top: 8px;
}

#submit-share {
    margin-left: 8px;
}

.shared-by {
    font-size: smaller;
}